img.pp {
  padding: 5px;
  width: 60px;
}

div.onethreadhead {
    padding: 5px;
}

div.onethreadcontent {
    padding: 5px;
}

table.comment {
    width: 100%;
    border: 1px solid;
}

td.commentmeta {
   width: 20%;
}
